@import 'tailwind.css';

html {
    height: 100%;
}
body, body > div {
    min-height: 100%;
    margin-top:10px;
}
.select-none {
    -webkit-touch-callout: none;
}
html, body {
    -webkit-app-region: drag;
}
input, select, textarea, button, a {
    -webkit-app-region: no-drag;
}